#main {
    /* basic styling */
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#main > #leftcol {
    flex: 11;
    order: 1;
}

#main > #maincol {
	padding-left: 25px;
	padding-right: 25px;
    flex: 16;
    order: 2;
}

#main > #rightcol {
    flex: 11;
    order: 3;
}

.intent_showall_container {
    font-size: 13px;
    text-align: right;
    padding: 5px 0 0 2px;
    display: flex;
    align-items: center;
    float: right;
}

.intent_showall_checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.intent_showall_label {
    cursor: pointer;
    padding: 2px 0 0 0;
}

.sections {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    justify-content: center;
}

/* container for section symbol */
.section {
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-size: 35px;
    background-repeat: no-repeat;
    /* preloading image but not showing it yet */
    background-position: 0px 35px;
    background-image: url('../img/circle.png');
}

.section_selected {
    background-position: 0px 0px;
}

.section_suspended {
    background-position: 0px -35px;
}

/* actual icons for different note types */
.section_icon {
    background-position: 0px 0px;
    background-size: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.note {
    background-image: url('../img/note.png');
}

.diary {
    background-image: url('../img/diary.png');
}

.draft {
    background-image: url('../img/draft.png');
}

.people {
    background-image: url('../img/people.png');
}

.fun {
    background-image: url('../img/fun.png');
}

.section_icon_active {
    background-position: 0px 70px;
}

.section_icon_inactive {
    background-position: 0px 35px;
    cursor: default;
}

/* common link style; redefined for certain elements */
a {
    color: #5090d0;
    text-decoration: none;
}

a:hover {
    color: #3070b0;
    text-decoration: none;
}

/* контейнер селектора */
.select-sim {
    width:30px;
    height:18px;
    line-height:18px;
    vertical-align:middle;
    position:relative;
    background:#f7fbff;
    overflow:hidden;
    float: left; 
    margin-top: 3px;
    margin-right: 8;
    visibility: visible;
    opacity: 1;
    transition: line-height 0.5s, margin-top 0.5s, height 0.5s, visibility 0.3s, opacity 0.3s linear;
}

/* класс для скрытия селектора */
.select-sim.hidden {
    height:0px;
    line-height:0px;
    margin-top: 0px;
    visibility: hidden;
    opacity: 0;
    transition: line-height 0.5s, margin-top 0.5s, height 0.5s, visibility 0.3s, opacity 0.3s linear;
}

/* стрелочка селектора */
.select-sim::after {
    content:"▼";
    font-size:0.5em;
    font-family:arial;
    position:absolute;
    top:40%;
    right:4px;
    transform:translate(0, -50%);
}

/* все лейблы скрыты... */
.select-sim .options .option label {
    display:none;
}

/* ...кроме выбранного (плюс означает "следующий за указанным элемент", т.е. лейбл после выбранного инпута) */
.select-sim .options .option input:checked + label {
    display:block;
    width:100%;
}

/* все инпуты, т.е. сами радиокнопки, тоже скрыты */
.select-sim .options .option input {
    width:0;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    float:left;
    display:inline-block;
    /* fix specific for Firefox */
    position: absolute;
    left: -10000px;
}

/* при наведении мы показываем все имеющиеся элементы... */
.select-sim:hover {
    overflow:visible;
}

/* ...отрисовываем подложку для лейблов... */
.select-sim:hover .options {
  background:#f7fbff;
  position:absolute;
  width:100%;
}

/* ...показываем контейнеры лейблов... */
.select-sim:hover .options .option {
    height:18px;
    overflow:hidden;
}

/* ...и сами лейблы... */
/* можно сделать инлайн-блок */ 
.select-sim:hover .options .option input + label {
    display:block;
}

/* ...а выбранный ещё и подсвечиваем */
.select-sim:hover .options .option input:checked + label {
    background:#e1efff;
}

/* довольно бессмысленное занятие - мы и так наследуем оверфлоу от контейнера */
/*.select-sim .options .option {
    overflow:hidden;
}*/

/* можно равнять картинку пункта, но у нас она и так хорошо сидит */
/*.select-sim .options .option img {
    vertical-align:middle;
}*/

/* бессмысленный код - у нас это перекрывается селектором input + label */
/*.select-sim:hover .options .option label {
  display:inline-block;
}*/