.logincontainer {
    position: relative;
    top: 30%;
}

.domain {
    width: 450px;
    border-radius: 20px;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#cabinet {
    border: 2px solid rgb(166, 202, 240);
    background-color: #f7fbff;
}

#rimworld {
    border: 2px solid rgb(140, 165, 191);
    background-color: #f2f2f2;
}

#almosttheword {
    border: 2px solid rgb(170, 148, 162);
    background-color: #fff8fb;
}

p {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 7px;
    margin-bottom: 0px;
}

.title {
    font-size: 36pt;
    margin-top: 10px;
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: bold;
    /*font-style: italic;*/
    line-height: 20px;
}

.subtitle {
    font-size: 16pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cabtitle {
    color: rgb(96, 96, 128);
}

.rimtitle {
    color: rgb(96, 96, 128);
}

.atwtitle {
    color: rgb(157, 76, 76);
}

div {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
    text-align: center;
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #606080;
    padding-bottom: 2px;
    text-decoration: none;
}

/* container for login/logout link */
.linkdiv {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    font-size: 10pt;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.linkdiv a {
    display: inline;
}