.logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logincontainer a {
    text-decoration: none;
    margin-top: 30px;
}

.domain {
    width: 450px;
    border-radius: 20px;
    padding: 20px; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

#cabinet {
    border: 2px solid rgb(166, 202, 240);
    background-color: #f7fbff;
}

#rimworld {
    border: 2px solid rgb(140, 165, 191);
    background-color: #f2f2f2;
}

#almostthewords {
    border: 2px solid rgb(170, 148, 162);
    background-color: #fff8fb;
}

.title {
    font-size: 36pt;
    margin-top: 10px;
    margin-bottom: 24px;
    font-weight: bold;
    line-height: 20px;
}

.subtitle {
    font-size: 16pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cabtitle {
    color: rgb(96, 96, 128);
}

/* applied to all children on hover over parent */
#cabinet:hover > * {
    color: #3070b0;
}

.rimtitle {
    color: rgb(96, 96, 128);
}

.atwtitle {
    color: rgb(157, 76, 76);
}

/* applied to all children on hover over parent */
#almostthewords:hover > * {
    color: rgb(187, 46, 46);
}