#main {
    /* basic styling */
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#main > #leftcol {
    flex: 11;
    order: 1;
}

#main > #maincol {
	padding-left: 25px;
	padding-right: 25px;
    flex: 16;
    order: 2;
}

#main > #rightcol {
    flex: 11;
    order: 3;
}

.intent_showall_container {
    font-size: 13px;
    text-align: right;
    padding: 5px 0 0 2px;
    display: flex;
    align-items: center;
    float: right;
}

.intent_showall_checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.intent_showall_label {
    cursor: pointer;
    padding: 2px 0 0 0;
}

.sections {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    justify-content: center;
}

/* container for section symbol */
.section {
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-size: 35px;
    background-repeat: no-repeat;
    /* preloading image but not showing it yet */
    background-position: 0px 35px;
    background-image: url('../img/circle.png');
}

.section_selected {
    background-position: 0px 0px;
}

.section_suspended {
    background-position: 0px -35px;
}

/* actual icons for different note types */
.section_icon {
    background-position: 0px 0px;
    background-size: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.note {
    background-image: url('../img/note.png');
}

.diary {
    background-image: url('../img/diary.png');
}

.draft {
    background-image: url('../img/draft.png');
}

.section_icon_active {
    background-position: 0px 70px;
}

.section_icon_inactive {
    background-position: 0px 35px;
    cursor: default;
}

/* common link style; redefined for certain elements */
a {
    color: #5090d0;
    text-decoration: none;
}

a:hover {
    color: #3070b0;
    text-decoration: none;
}

.select-sim {
    width:30px;
    height:18px;
    line-height:18px;
    vertical-align:middle;
    position:relative;
    background:#f7fbff;
    overflow:hidden;
    float: left; 
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.select-sim::after {
  content:"▼";
  font-size:0.5em;
  font-family:arial;
  position:absolute;
  top:40%;
  right:4px;
  transform:translate(0, -50%);
}

.select-sim:hover {
  overflow:visible;
}

.select-sim:hover .options .option label {
  display:inline-block;
}

.select-sim:hover .options {
  background:#f7fbff;
  position:absolute;
  width:100%;
}

.select-sim .options .option {
    overflow:hidden;
}

.select-sim:hover .options .option {
    height:18px;
    overflow:hidden;
}

.select-sim .options .option img {
  vertical-align:middle;
}

.select-sim .options .option label {
  display:none;
}

.select-sim .options .option input {
  width:0;
  height:0;
  overflow:hidden;
  margin:0;
  padding:0;
  float:left;
  display:inline-block;
  /* fix specific for Firefox */
  position: absolute;
  left: -10000px;
}

.select-sim .options .option input:checked + label {
  display:block;
  width:100%;
}

.select-sim:hover .options .option input + label {
  display:block;
}

.select-sim:hover .options .option input:checked + label {
  background:#e1efff;
}