#main {
    /* basic styling */
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#main > #leftcol {
    flex: 11;
    order: 1;
}

#main > #maincol {
	padding-left: 25px;
	padding-right: 25px;
    flex: 16;
    order: 2;
}

#main > #rightcol {
    flex: 11;
    order: 3;
}

.intent_showall_container {
    font-size: 13px;
    text-align: right;
    padding: 5px 0 0 2px;
    display: flex;
    align-items: center;
    float: right;
}

.intent_showall_checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.intent_showall_label {
    cursor: pointer;
    padding: 2px 0 0 0;
}

.sections {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    justify-content: center;
}

.section {
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 35px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.diary {
    background-image: url('../img/diary.png');
}

.other {
    background-image: url('../img/other.png');
}