.post {
    border-radius: 20px;
    border: 2px solid #a6caf0;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    background-color: #f7fbff;
}
.source {
    font-size: 10pt;
    color: #808080;
    margin-top: 0;
    margin-bottom: 0
}
.source a {
    color: #808080;
    text-decoration: none;
}
.source a:hover {
    color: #606060;
    text-decoration: none;
}
.tags {
    font-size: 10pt;
    color: #808080;
    margin-top: 0;
    margin-bottom: 0
}
.tags a {
    color: #808080;
    text-decoration: none;
}
.tags a:hover {
    color: #606060;
    text-decoration: none;
}
/*.edits {
    font-size: 13pt;
    margin-top: 0;
    margin-bottom: 0
}*/

.title {
    font-size: 13pt;
    color: #606080;
    margin-top: 0;
    margin-bottom: 5;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
}
.title a {
    color: #606080;
    text-decoration: none;
}

.title a:hover {
    color: #404050;
    text-decoration: none;
}

div {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 7px;
    margin-bottom: 0px;
}

blockquote { /* blockquote element style */
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, serif;
    font-size: 10.5pt;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px; 
}
blockquote p { /* blockquote child paragraphs style */
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, serif;
    font-size: 10.5pt;
}

blockquote:before { /* large quote initial for blockquote */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    content: "\201C";
    font-size: 50px;
    position: relative;
    padding-right: 10px;
    color: #7a7a7a;
    line-height: 20px;
    top: 12px;
    float:left;
}

blockquote[cite]:before { /* стиль цитаты со ссылкой */
    color: #606080;
}

.star {
    float: left; 
    width: 14px;
    height: 14px;
    margin-top: 3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-image: url('../img/star.png');
    background-position: 0px 14px;
    background-size: 14px;
    cursor: pointer;
}
.staron { 
    background-position: 0px 0px;
} 

.posticon {
    /* parent class for edit/delete/save/cancel icons */
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 4;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.editpost { 
    margin-right: 12;
    background-image: url('../img/edit.png');
} 
.deletepost { 
    margin-right: 8;
    background-image: url('../img/delete.png');
} 
.savepost { 
    margin-right: 12;
    background-image: url('../img/save.png');
} 
.canceledit { 
    margin-right: 8;
    background-image: url('../img/cancel.png');
} 
.posticon_gray { 
    background-position: 0px -15px;
    cursor: default;
} 

.smallicon { 
    float: left;
    clear: both;
    width: 12px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-repeat: no-repeat;
} 
.extlink { 
    height: 9px;
    margin-top: 6;
    margin-left: 0;
    margin-right: 7;
    background-image: url('../img/extlink.png');
    background-size: 12px;
} 
.topic { 
    height: 12px;
    margin-top: 3;
    margin-left: 2;
    margin-right: 5;
    background-image: url('../img/topic.png');
    background-size: 10px;
} 
.inputfield {
    width: calc(100% - 19px);
    color: #808080;
    border-color: #a6caf0;
    height: 18px;
    font-size: 10pt;
    border-width: 0 1px 1px 0;
    margin-bottom: 2px;
}
.maininputfield {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    border: 0;
}