.todo {
	/* the entire todo block */
    border-radius: 20px;
    border: 2px solid #a6caf0;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    background-color: #f7fbff;
    float: left;
    width: 100%;
    box-sizing: border-box; /* helps avoid width+padding overflow */
}

.todo_title {
	/* title of the todo block */
    font-size: 13pt;
    color: #606080;
    margin-top: 0;
    margin-bottom: 5;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}



.todo_error {
    /* class for sql error text */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
    float: left;
    clear: both;
    font-size: 10pt;
    font-weight: normal;
    line-height: 17px;
}

.todo_errortitle {
    /* style for sql error title */
    font-size: 11pt;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    float: none;
}

.todo_task {
	/* parent class for a single intention */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
    float: left;
    clear: both;
}

.toptask {
	/* style for top-level intentions */
    font-size: 11pt;
    font-weight: bold;
    line-height: 18px;
}

.childtask {
	/* style for child intentions */
    font-size: 10pt;
    font-weight: normal;
    margin-left: 20px;
    line-height: 17px;
}

.todoicon {
	/* parent icon class */
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.goalgroup {
	/* triangle hide/show icon in default "show" state */
    background-image: url('../img/todo/show.png');
}

.hiddengoal { 
	/* hide/show icon in "hide" state */
    background-position: 0px -16px;
} 

.graygoal { 
	/* hide/show icon greyed out, for elements without children */
    background-position: 0px -48px;
    cursor: default;
} 

.goal_childgroup {
	/* div for children goals; hidden/shown with js */
}

.goalname { 
	/* div for intention text and trailing icons */
    overflow: auto;
} 

.goalname_done { 
	/* additional style for finished intention */
	text-decoration: line-through;
	color: #606060;
} 

.settinggroup {
	/* wrapping div for trailing icons */
    vertical-align: bottom;
	float: none;
	display: inline-block;
	margin-left: 6px;
}

.goalsetting {
	/* parent div for trailing icons */
	display: none;
}

.editgoal { 
	/* edit intention icon */
    background-image: url('../img/todo/edit.png');
} 

.checkgoal { 
	/* finish intention icon */
    background-image: url('../img/todo/check.png');
} 

.addgoal { 
	/* add new child intention icon */
    background-image: url('../img/todo/add.png');
} 