.logindiv {
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-left: 30px;
	border-bottom-color: rgb(166, 202, 240);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	background-color: #f7fbff;
	margin-left: auto;
	margin-right: auto;
	font-size: 10pt;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 40px;
} 

.logindiv a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #606080;
    text-decoration: none;
}

.logindiv a:hover {
	color: #3070b0;
	text-decoration: none;
}

.logindiv p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#homelink {
	flex: 1;
	font-size: 14pt;
	display: flex;
	align-items: center;
}

#applink {
	flex: 3;
	justify-content: center;
	align-items: center;
	display: flex;
}

#loginlink {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}
