#main {
    /* basic styling */
    display: flex;
    flex-flow: row wrap;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#main > #leftcol {
    flex: 9;
    order: 1;
}

#main > #maincol {
	padding-left: 30px;
	padding-right: 30px;
    flex: 16;
    order: 2;
}

#main > #rightcol {
    flex: 9;
    order: 3;
}