#main {
    /* basic styling */
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#main > #leftcol {
    flex: 11;
    order: 1;
}

#main > #maincol {
	padding-left: 25px;
	padding-right: 25px;
    flex: 16;
    order: 2;
}

#main > #rightcol {
    flex: 11;
    order: 3;
}