.todo {
    border-radius: 20px;
    border: 2px solid #a6caf0;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    background-color: #f7fbff;
    float: left;
    width: 100%;
    box-sizing: border-box; /* helps avoid width+padding overflow */
}

.todo_title {
    font-size: 13pt;
    color: #606080;
    margin-top: 0;
    margin-bottom: 5;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.todo_toplevel {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 11pt;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 0px;
    float: left;
    clear: both;
}

.todo_task {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 5px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 20px;
    float: left;
    clear: both;
}

.goal_childgroup {
	display: block;
	opacity: 1;
}

.todoicon {
    float: left; /* Обтекание по правому краю */
    width: 16px;
    height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 6;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.goalgroup {
    background-image: url('../img/todo/show.png');
    background-position: 0px 0px;
}

.hiddengoal { 
    background-position: 0px -16px;
} 

.graygoal { 
    background-position: 0px -48px;
    cursor: default;
} 

.goalname { 
	float: left;
    margin-bottom: 0px;
    margin-right: 6;
} 

.editgoal { 
    background-image: url('../img/todo/edit.png');
    display: none;
} 

.savegoal { 
    background-image: url('../img/todo/check.png');
    display: none;
} 

.addgoal { 
    background-image: url('../img/todo/add.png');
    display: none;
} 