<html>
    <head>
     <meta charset="UTF-8"> 
        <style>
        </style>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/post.css')}}>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/newpost.css')}}>
        <script type="text/javascript" src={{url_for('static', filename='richtext/rich-text-editor.js')}}></script>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='richtext/rich-text-editor.css')}}>
    </head>
    <body onclick="hideForm(event)">
        <script>

            const NEW_POST = "00000000-0000-0000-0000-000000000000";

            //minimize the new post form when the rich text editor finishes executing
            document.addEventListener("rteReadyEvent", function(e) {
                hideForm(e); 
            });

            // start the rich text editor module (transforms text fields into richtext)
            richtext.richTextStart();

            function showForm() {
                // maximizing the "new post" form
                for (var i = document.getElementsByClassName("np").length - 1; i >= 0; i--) {
                    document.getElementsByClassName("np")[i].style.visibility = "visible";
                    document.getElementsByClassName("np")[i].style.opacity = "1";
                }
                document.getElementById("np_star").style.height = "14px";
                document.getElementById("np_star").style["margin-top"] = "4px";
                document.getElementById("np_delete").style.height = "14px";
                document.getElementById("np_delete").style["margin-top"] = "4px";
                document.getElementById("np_save").style.height = "14px";
                document.getElementById("np_save").style["margin-top"] = "4px";
                document.getElementById("np_title").style.height = "21px";
                document.getElementById("np_title").style["margin-bottom"] = "5";
                document.getElementById("np_title").style["line-height"] = "21px";
                document.getElementById("np_source_icon").style.height = "9px";
                document.getElementById("np_source_icon").style["margin-top"] = "6px";
                document.getElementById("np_source").style.height = "18px";
                document.getElementById("np_source").style["font-size"] = "10pt";
                document.getElementById("np_source").style["border-width"] = "0 1px 1px 0";
                document.getElementById("np_source").style["margin-bottom"] = "2px";
                document.getElementById("np_topic_icon").style.height = "12px";
                document.getElementById("np_topic_icon").style["margin-top"] = "3px";
                document.getElementById("np_topic").style.height = "18px";
                document.getElementById("np_topic").style["font-size"] = "10pt";
                document.getElementById("np_topic").style["border-width"] = "0 1px 1px 0";
                document.getElementById("np_topic").style["margin-bottom"] = "2px";
                document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].style["min-height"] = "200px";


            }

            function hideForm(event) {
                // minimizing the "new post" form
                console.log(event.type);
                var execute = 0;
                // alert(event.target.getAttribute("id"));
                if (event.type == 'rteReadyEvent') {
                    execute = 1;
                } else if (!((event.target.getAttribute("id") == NEW_POST) || 
                    (document.getElementById(NEW_POST).contains(event.target)))) {
                    execute = 1;
                }
                if (execute == 1) {
                // var formelements = ["np_maintext", "np_source", "np_topic"];
                // var selected = document.activeElement;
                // if (formelements.indexOf(selected.id) == -1) { /* проверка на вхождение в массив */
                    if ((document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].innerHTML == "<p><br></p>") &&
                        (document.getElementById("np_source").value == "") &&
                        (document.getElementById("np_topic").value == "")) {
                        for (var i = document.getElementsByClassName("np").length - 1; i >= 0; i--) {
                            document.getElementsByClassName("np")[i].style.visibility = "hidden";
                            document.getElementsByClassName("np")[i].style.opacity = "0";
                            document.getElementsByClassName("np")[i].style.height = "0px";
                        }
                        document.getElementById("np_star").style["margin-top"] = "0px";
                        document.getElementById("np_delete").style["margin-top"] = "0px";
                        document.getElementById("np_save").style["margin-top"] = "0px";
                        document.getElementById("np_title").style["margin-bottom"] = "0";
                        document.getElementById("np_title").style["line-height"] = "0px";
                        document.getElementById("np_source_icon").style["margin-top"] = "0px";
                        document.getElementById("np_source").style["font-size"] = "0pt";
                        document.getElementById("np_source").style["border-width"] = "0px";
                        document.getElementById("np_source").style["margin-bottom"] = "0px";
                        document.getElementById("np_topic_icon").style["margin-top"] = "0px";
                        document.getElementById("np_topic").style["font-size"] = "0pt";
                        document.getElementById("np_topic").style["border-width"] = "0px";
                        document.getElementById("np_topic").style["margin-bottom"] = "0px";
                        document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].style["min-height"] = "50px";

                    }
                }
            }

            /******************/
            /* AJAX functions */
            /******************/

            var httpRequest;

            function deletePost(uid) {
                // AJAX deleting the existing post
                var result = confirm("Подтвердите удаление записи!");
                if (result) {
                    httpRequest = new XMLHttpRequest();

                    if (!httpRequest) {
                        alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
                        return false;
                    }
                    httpRequest.onreadystatechange = function() {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                var el = document.getElementById(uid);
                                el.parentNode.removeChild(el);
                            } else {
                                alert("Ошибка сервера при удалении записи: " + httpRequest.status);
                            }
                        }
                    };
                    httpRequest.open('GET', '/delete?uid=' + uid);
                    httpRequest.send();
                }
            }

            function markPost(uid) {
                // AJAX toggling the "important" star in posts
                httpRequest = new XMLHttpRequest();
                var el = document.getElementById(uid);
                var status = "true";
                if (el.getElementsByClassName("star")[0].classList.contains('staron')) {
                    status = "false";
                }
                if (!httpRequest) {
                    alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
                    return false;
                }
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            el.getElementsByClassName("star")[0].classList.toggle('staron');
                            if (status == "false") {
                                el.getElementsByClassName("star")[0].setAttribute("title", "Убрать отметку важности");
                            } else {
                                el.getElementsByClassName("star")[0].setAttribute("title", "Отметить запись как важную");
                            }
                        } else {
                            alert("Ошибка сервера при установке отметки: " + httpRequest.status);
                        }
                    }
                };
                httpRequest.open('GET', '/mark?uid=' + uid + '&status=' + status);
                httpRequest.send();
            }

            function updatePost(uid) {
                // AJAX updating of an existing post
                httpRequest = new XMLHttpRequest();
                var el = document.getElementById(uid);
                var formData = new FormData(el.getElementsByTagName("form")[0]);
                if (!httpRequest) {
                    alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
                    return false;
                }
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            cancelEdit(uid);
                            var oldel = document.getElementById(uid);
                            var wrapper= document.createElement('div');
                            wrapper.innerHTML= httpRequest.responseText;
                            var newel = wrapper.firstChild;
                            oldel.parentNode.replaceChild(newel, oldel);
                        } else {
                            alert("Ошибка сервера при обновлении записи: " + httpRequest.status);
                        }
                    }
                };
                httpRequest.open('POST', '/');
                httpRequest.send(formData);
            }

            function addPost() {
                // AJAX adding of a new post
                httpRequest = new XMLHttpRequest();
                var el = document.getElementById(NEW_POST);
                var formData = new FormData(el.getElementsByTagName("form")[0]);
                if (!httpRequest) {
                    alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
                    return false;
                }
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            if (window.location.pathname === "/") {
                                window.location.reload(true); 
                            } else {
                                clearNewPost();
                                alert("Запись сохранена!");
                            }
                        } else {
                            alert("Ошибка сервера при добавлении записи: " + httpRequest.status);
                        }
                    }
                };
                httpRequest.open('POST', '/');
                httpRequest.send(formData);
            }

            /*************************/
            /* End of AJAX functions */
            /*************************/

            function editPost(uid) {
                // turning the "edit post" mode on

                // hiding the original post
                var tmppost = document.getElementById(uid);
                tmppost.setAttribute("id", uid + '_tmp');
                tmppost.style["display"] = "none";

                // copying the template and filling it with post content
                var template = document.getElementById("00000000-0000-0000-0000-000000000001").cloneNode(true);
                template.setAttribute("id", uid);
                template.getElementsByClassName("uid_field")[0].setAttribute("value", uid);
                var tmpimportance = tmppost.getElementsByClassName("star")[0].cloneNode(true);
                var newimportance = template.getElementsByClassName("star")[0];
                template.getElementsByTagName("form")[0].setAttribute("name", uid);
                template.getElementsByTagName("form")[0].replaceChild(tmpimportance, newimportance);
                template.getElementsByClassName("star")[0].setAttribute("onclick", "np_toggleImportant('" + uid + "')");
                if (template.getElementsByClassName("star")[0].classList.contains('staron')) {
                    template.getElementsByClassName("star_field")[0].setAttribute("value", "true");
                } else {
                    template.getElementsByClassName("star_field")[0].setAttribute("value", "false");
                }
                template.getElementsByClassName("canceledit")[0].setAttribute("onclick", "cancelEdit('" + uid + "')");
                template.getElementsByClassName("savepost")[0].setAttribute("onclick", "updatePost('" + uid + "')");
                var tmptitle = tmppost.getElementsByClassName("title")[0].cloneNode(true);
                var newtitle = template.getElementsByClassName("title")[0];
                template.getElementsByTagName("form")[0].replaceChild(tmptitle, newtitle);
                if (tmppost.getElementsByClassName("source").length > 0) {
                    var tmpsrc = tmppost.getElementsByClassName("source")[0].getElementsByTagName("a")[0].innerHTML;
                    template.getElementsByClassName("inputsrc")[0].setAttribute("value", tmpsrc);
                }
                if (tmppost.getElementsByClassName("tags").length > 0) {
                    var tmptags = '';
                    var tmptagsarray = tmppost.getElementsByClassName("tags")[0].getElementsByTagName("a");
                    for (var i = 0; i < tmptagsarray.length; i++) {
                        tmptags += tmptagsarray[i].innerHTML;
                        if (i < (tmptagsarray.length - 1)) {
                            tmptags += ', ';
                        }
                    }
                    template.getElementsByClassName("inputtopic")[0].setAttribute("value", tmptags);
                }
                var tmpposttext = tmppost.getElementsByClassName("posttext")[0].innerHTML;
                template.getElementsByTagName("textarea")[0].innerHTML = tmpposttext;
                richtext.createEditor(template.getElementsByTagName("textarea")[0]);

                // displaying the template in place of a post
                template.style["display"] = "block";
                insertAfter(template, tmppost);
            }

            function cancelEdit(uid) {
                // removes an "edit post" form and retrieves the original post
                var todelete = document.getElementById(uid);
                todelete.parentNode.removeChild(todelete);
                document.getElementById(uid + '_tmp').style["display"] = "block";
                document.getElementById(uid + '_tmp').setAttribute("id", uid);
            }

            function clearNewPost() {
                // clears all fields of the "new post" form
                var el = document.getElementById(NEW_POST);
                if (el.getElementsByClassName("star_field")[0].getAttribute("value") === "true") {
                    np_toggleImportant(NEW_POST);
                }
                document.getElementById("np_source").value = "";
                document.getElementById("np_topic").value = "";
                richtext.customCommands['cleanDoc'](el.getElementsByClassName("rte-editbox")[0]);
                //document.getElementById("np_maintext").value = "";
            }


            function insertAfter(newNode, referenceNode) {
                // inserts new node after a referenceNode
                referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            }

            function np_toggleImportant(uid) {
                // toggles "important" star in "new post" and "edit post" forms
                var el = document.getElementById(uid);
                el.getElementsByClassName("star")[0].classList.toggle('staron');
                var attr = el.getElementsByClassName("star_field")[0].getAttribute("value");
                if (attr == "false") {
                    el.getElementsByClassName("star_field")[0].setAttribute("value", "true");
                    el.getElementsByClassName("star")[0].setAttribute("title", "Убрать отметку важности");
                } else {
                    el.getElementsByClassName("star_field")[0].setAttribute("value", "false");
                    el.getElementsByClassName("star")[0].setAttribute("title", "Отметить запись как важную");
                }
            }

        </script>

        <!-- "new post" window -->
        <div class="post" id="00000000-0000-0000-0000-000000000000">
            <form action="." method="POST" style="margin-bottom: 0px;" id="post_form">
                <input class="uid_field" type="hidden" name="uid" value="00000000-0000-0000-0000-000000000000">
                <div class="star np" title="Отметить запись как важную" id="np_star" onclick="np_toggleImportant('00000000-0000-0000-0000-000000000000')"></div>
                <input class="star_field" type="hidden" name="importance" value="false">
                <div class="posticon deletepost np" title="Удалить запись" id="np_delete" onclick="clearNewPost()"></div>
                <div class="posticon savepost np" title="Сохранить запись" id="np_save" onclick="addPost()"></div>
                <div class="np title" title="14.11.2016 17:13" id="np_title">26.04.2017</div>
                <div class="smallicon extlink np" title="Основной источник" id="np_source_icon"></div>
                <input class="inputfield np_input np" name="source" type="text" id="np_source" onfocus="showForm()">
                <div class="smallicon topic np" title="Темы" id="np_topic_icon"></div>
                <input class="inputfield np_input np" name="topic" type="text" id="np_topic" onfocus="showForm()">
                <textarea class="rich-text-editor" id="np_maintext" style="margin-bottom: 0px; margin-top: 0px;" name="maintext" onfocus="showForm()"></textarea>
            </form>
        </div>

        <!-- template for "edit post" mode -->
        <div class="post" id="00000000-0000-0000-0000-000000000001" style="display: none;">
            <form action="." method="POST" style="margin-bottom: 0px;">
                <input class="uid_field" type="hidden" name="uid">
                <div class="star"></div>
                <input class="star_field" type="hidden" name="importance">
                <div class="posticon canceledit" title="Отменить редактирование"></div>
                <div class="posticon savepost" title="Сохранить запись"></div>
                <div class="title"></div>
                <div class="smallicon extlink" title="Основной источник"></div>
                <input class="inputfield inputsrc" name="source" type="text">
                <div class="smallicon topic" title="Темы" ></div>
                <input class="inputfield inputtopic" name="topic" type="text">
                <textarea name="maintext" placeholder="Место для новой записи"></textarea>
            </form>
        </div>

        <!-- actual posts -->
        {% for record in data %}
            {% include "post.html" %}
        {% endfor %}

    </body>
</html>