{% extends "wrapper.html" %}

{% block title %}
    Ошибка!
{% endblock %}

{% block meta %}
    <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/login.css')}}>
    <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/error.css')}}>
{% endblock %}

{% block content %}
    <div class="logincontainer">

        <div class="loginform">
            <div>
                <p class="title">void media</p>
                <p class="code">{{code}}</p>
                <p class="message">{{message}}</p>
            </div>
        </div>

        <div class="linkdiv">
            <a href="{{origin}}">Вернуться</a>
        </div>

    </div>
{% endblock %}