{% extends "wrapper.html" %}

{% block meta %}
    <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/lobby.css')}}>
{% endblock %}

{% block content %}
    <div class="logincontainer">
        <a href="https://cabinet.{{config.SERVER_NAME}}">
            <div class="domain" id="cabinet">
                <p class="title cabtitle">cabinet</p>
                <p class="subtitle cabtitle">• заметки •</p>
            </div>
        </a>
    <!--             <a href="https://rimworld.{{config.SERVER_NAME}}">
            <div class="domain" id="rimworld">
                <p class="title rimtitle">rimworld</p>
                <p class="subtitle rimtitle">• инфографика •</p>
            </div>
        </a> -->
        <a href="https://almostthewords.{{config.SERVER_NAME}}">
            <div class="domain" id="almostthewords">
                <p class="title atwtitle">almost the words</p>
                <p class="subtitle atwtitle">• переводы •</p>
            </div>
        </a>
    </div>
{% endblock %}