<html>
    <head>
    <title>Cabinet</title>
     <meta charset="UTF-8"> 
        <style>
        </style>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/main.css')}}>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/post.css')}}>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/newpost.css')}}>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/todo.css')}}>
        <link rel='stylesheet' type='text/css' href= {{url_for('static', filename='css/rightcol.css')}}>
        <script type="text/javascript" src={{url_for('static', filename='richtext/rich-text-editor.js')}}></script>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='richtext/rich-text-editor.css')}}>
    </head>
    <body onclick="hideForm(event)">
        <script>

            const NEW_POST = "00000000-0000-0000-0000-000000000000";

            //minimize the new post form when the rich text editor finishes executing
            document.addEventListener("rteReadyEvent", function(e) {
                // adds "showForm()" trigger to the new post field
                document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].setAttribute("onfocus", "showForm()");
                hideForm(e); 
            });

            // start the rich text editor module (transforms text fields into richtext)
            richtext.richTextStart();

            function showForm() {
                // maximizing the "new post" form
                for (var i = document.getElementsByClassName("np").length - 1; i >= 0; i--) {
                    document.getElementsByClassName("np")[i].style.visibility = "visible";
                    document.getElementsByClassName("np")[i].style.opacity = "1";
                }
                document.getElementById("np_star").style.height = "14px";
                document.getElementById("np_star").style["margin-top"] = "4px";
                document.getElementById("np_delete").style.height = "14px";
                document.getElementById("np_delete").style["margin-top"] = "4px";
                document.getElementById("np_save").style.height = "14px";
                document.getElementById("np_save").style["margin-top"] = "4px";
                document.getElementById("np_title").style.height = "21px";
                document.getElementById("np_title").style["margin-bottom"] = "5";
                document.getElementById("np_title").style["line-height"] = "21px";
                document.getElementById("np_source_icon").style.height = "9px";
                document.getElementById("np_source_icon").style["margin-top"] = "6px";
                document.getElementById("np_source").style.height = "18px";
                document.getElementById("np_source").style["font-size"] = "10pt";
                document.getElementById("np_source").style["border-width"] = "0 1px 1px 0";
                document.getElementById("np_source").style["margin-bottom"] = "2px";
                document.getElementById("np_topic_icon").style.height = "12px";
                document.getElementById("np_topic_icon").style["margin-top"] = "3px";
                document.getElementById("np_topic").style.height = "18px";
                document.getElementById("np_topic").style["font-size"] = "10pt";
                document.getElementById("np_topic").style["border-width"] = "0 1px 1px 0";
                document.getElementById("np_topic").style["margin-bottom"] = "2px";
                document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].style["min-height"] = "200px";


            }

            function hideForm(event) {
                // minimizing the "new post" form
                var execute = 0;
                // alert(event.target.getAttribute("id"));
                if (event.type == 'rteReadyEvent') {
                    execute = 1;
                } else if (!((event.target.getAttribute("id") == NEW_POST) || 
                    (document.getElementById(NEW_POST).contains(event.target)))) {
                    execute = 1;
                }
                if (execute == 1) {
                // var formelements = ["np_maintext", "np_source", "np_topic"];
                // var selected = document.activeElement;
                // if (formelements.indexOf(selected.id) == -1) { /* проверка на вхождение в массив */
                    if ((document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].innerHTML == "<p><br></p>") &&
                        (document.getElementById("np_source").value == "") &&
                        (document.getElementById("np_topic").value == "")) {
                        for (var i = document.getElementsByClassName("np").length - 1; i >= 0; i--) {
                            document.getElementsByClassName("np")[i].style.visibility = "hidden";
                            document.getElementsByClassName("np")[i].style.opacity = "0";
                            document.getElementsByClassName("np")[i].style.height = "0px";
                        }
                        document.getElementById("np_star").style["margin-top"] = "0px";
                        document.getElementById("np_delete").style["margin-top"] = "0px";
                        document.getElementById("np_save").style["margin-top"] = "0px";
                        document.getElementById("np_title").style["margin-bottom"] = "0";
                        document.getElementById("np_title").style["line-height"] = "0px";
                        document.getElementById("np_source_icon").style["margin-top"] = "0px";
                        document.getElementById("np_source").style["font-size"] = "0pt";
                        document.getElementById("np_source").style["border-width"] = "0px";
                        document.getElementById("np_source").style["margin-bottom"] = "0px";
                        document.getElementById("np_topic_icon").style["margin-top"] = "0px";
                        document.getElementById("np_topic").style["font-size"] = "0pt";
                        document.getElementById("np_topic").style["border-width"] = "0px";
                        document.getElementById("np_topic").style["margin-bottom"] = "0px";
                        document.getElementById(NEW_POST).getElementsByClassName("rte-editbox")[0].style["min-height"] = "50px";

                    }
                }
            }

            /******************/
            /* AJAX functions */
            /******************/

            var httpRequest;

            function deletePost(uid) {
                // AJAX deleting the existing post
                var result = confirm("Подтвердите удаление записи!");
                if (result) {
                    var el = document.getElementById(uid);
                    el.getElementsByClassName("deletepost")[0].removeAttribute("onclick");
                    el.getElementsByClassName("editpost")[0].removeAttribute("onclick");
                    el.getElementsByClassName("deletepost")[0].classList.toggle('posticon_gray');
                    el.getElementsByClassName("editpost")[0].classList.toggle('posticon_gray');

                    var delpost_cb_ok = function(response) {
                        el.parentNode.removeChild(el);
                    }

                    var delpost_cb_error = function(status) {
                        if (status !== null) {
                            alert("Ошибка сервера при удалении записи: " + status);
                        }
                    }

                    var delpost_cb_finally = function() {
                        el.getElementsByClassName("deletepost")[0].setAttribute("onclick", "deletePost('" + uid + "')");
                        el.getElementsByClassName("editpost")[0].setAttribute("onclick", "editPost('" + uid + "')");
                        el.getElementsByClassName("deletepost")[0].classList.toggle('posticon_gray');
                        el.getElementsByClassName("editpost")[0].classList.toggle('posticon_gray');
                    }

                    var address = '/delete?uid=' + uid;
                    ajax('GET', address, delpost_cb_ok, delpost_cb_error, delpost_cb_finally);
                }
            }

            function markPost(uid) {
                // AJAX toggling the "important" star in posts
                var el = document.getElementById(uid);
                var status = "true";
                if (el.getElementsByClassName("star")[0].classList.contains('staron')) {
                    status = "false";
                }

                var markpost_cb_ok = function(response) {
                    el.getElementsByClassName("star")[0].classList.toggle('staron');
                    if (status == "false") {
                        el.getElementsByClassName("star")[0].setAttribute("title", "Убрать отметку важности");
                    } else {
                        el.getElementsByClassName("star")[0].setAttribute("title", "Отметить запись как важную");
                    }
                }

                var markpost_cb_error = function(status) {
                    if (status !== null) {
                        alert("Ошибка сервера при установке отметки: " + status);
                    }
                }

                var address = '/mark?uid=' + uid + '&status=' + status;
                ajax('GET', address, markpost_cb_ok, markpost_cb_error);
            }

            function updatePost(uid) {
                // AJAX updating of an existing post
                var el = document.getElementById(uid);
                // disable save/cancel buttons
                el.getElementsByClassName("canceledit")[0].removeAttribute("onclick");
                el.getElementsByClassName("savepost")[0].removeAttribute("onclick");
                el.getElementsByClassName("canceledit")[0].classList.toggle('posticon_gray');
                el.getElementsByClassName("savepost")[0].classList.toggle('posticon_gray');

                var formData = new FormData(el.getElementsByTagName("form")[0]);

                var updpost_cb_ok = function(response) {
                    cancelEdit(uid);
                    var oldel = document.getElementById(uid);
                    oldel.parentNode.replaceChild(elementFromText(httpRequest.responseText), oldel);
                }

                var updpost_cb_error = function(status) {
                    if (status !== null) {
                        alert("Ошибка сервера при обновлении записи: " + status);
                    }
                }

                var updpost_cb_finally = function() {
                    el.getElementsByClassName("canceledit")[0].setAttribute("onclick", "cancelEdit('" + uid + "')");
                    el.getElementsByClassName("savepost")[0].setAttribute("onclick", "updatePost('" + uid + "')");
                    el.getElementsByClassName("canceledit")[0].classList.toggle('posticon_gray');
                    el.getElementsByClassName("savepost")[0].classList.toggle('posticon_gray');
                }

                ajax('POST', '/', updpost_cb_ok, updpost_cb_error, updpost_cb_finally, formData);
            }

            function addPost() {
                // AJAX adding of a new post
                // here goes disabling
                var el = document.getElementById(NEW_POST);
                el.getElementsByClassName("deletepost")[0].removeAttribute("onclick");
                el.getElementsByClassName("savepost")[0].removeAttribute("onclick");
                el.getElementsByClassName("deletepost")[0].classList.toggle('posticon_gray');
                el.getElementsByClassName("savepost")[0].classList.toggle('posticon_gray');
                var formData = new FormData(el.getElementsByTagName("form")[0]);

                var addpost_cb_ok = function(response) {
                    var parentnode = document.getElementById("notes_content");
                    parentnode.insertBefore(elementFromText(response), parentnode.firstChild);
                    clearNewPost(true); // silent clearing of the newpost form
                }

                var addpost_cb_error = function(status) {
                    if (status !== null) {
                        alert("Ошибка сервера при добавлении записи: " + status);
                    }
                }

                var addpost_cb_finally = function() {
                    el.getElementsByClassName("deletepost")[0].setAttribute("onclick", "clearNewPost()");
                    el.getElementsByClassName("savepost")[0].setAttribute("onclick", "addPost()");
                    el.getElementsByClassName("deletepost")[0].classList.toggle('posticon_gray');
                    el.getElementsByClassName("savepost")[0].classList.toggle('posticon_gray');
                }

                ajax('POST', '/', addpost_cb_ok, addpost_cb_error, addpost_cb_finally, formData);
            }

            /*************************/
            /* End of AJAX functions */
            /*************************/

            function editPost(uid) {
                // turning the "edit post" mode on

                // hiding the original post
                var tmppost = document.getElementById(uid);
                tmppost.setAttribute("id", uid + '_tmp');
                tmppost.style["display"] = "none";

                // copying the template and filling it with post content
                var template = document.getElementById("00000000-0000-0000-0000-000000000001").cloneNode(true);
                template.setAttribute("id", uid);
                template.getElementsByClassName("uid_field")[0].setAttribute("value", uid);
                var tmpimportance = tmppost.getElementsByClassName("star")[0].cloneNode(true);
                var newimportance = template.getElementsByClassName("star")[0];
                template.getElementsByTagName("form")[0].setAttribute("name", uid);
                template.getElementsByTagName("form")[0].replaceChild(tmpimportance, newimportance);
                template.getElementsByClassName("star")[0].setAttribute("onclick", "np_toggleImportant('" + uid + "')");
                if (template.getElementsByClassName("star")[0].classList.contains('staron')) {
                    template.getElementsByClassName("star_field")[0].setAttribute("value", "true");
                } else {
                    template.getElementsByClassName("star_field")[0].setAttribute("value", "false");
                }
                template.getElementsByClassName("canceledit")[0].setAttribute("onclick", "cancelEdit('" + uid + "')");
                template.getElementsByClassName("savepost")[0].setAttribute("onclick", "updatePost('" + uid + "')");
                var tmptitle = tmppost.getElementsByClassName("title")[0].cloneNode(true);
                var newtitle = template.getElementsByClassName("title")[0];
                template.getElementsByTagName("form")[0].replaceChild(tmptitle, newtitle);
                if (tmppost.getElementsByClassName("source").length > 0) {
                    var tmpsrc = tmppost.getElementsByClassName("source")[0].getElementsByTagName("a")[0].innerHTML;
                    template.getElementsByClassName("inputsrc")[0].setAttribute("value", tmpsrc);
                }
                if (tmppost.getElementsByClassName("tags").length > 0) {
                    var tmptags = '';
                    var tmptagsarray = tmppost.getElementsByClassName("tags")[0].getElementsByTagName("a");
                    for (var i = 0; i < tmptagsarray.length; i++) {
                        tmptags += tmptagsarray[i].innerHTML;
                        if (i < (tmptagsarray.length - 1)) {
                            tmptags += ', ';
                        }
                    }
                    template.getElementsByClassName("inputtopic")[0].setAttribute("value", tmptags);
                }
                var tmpposttext = tmppost.getElementsByClassName("posttext")[0].innerHTML;
                template.getElementsByTagName("textarea")[0].innerHTML = tmpposttext;
                richtext.createEditor(template.getElementsByTagName("textarea")[0]);

                // displaying the template in place of a post
                template.style["display"] = "block";
                insertAfter(template, tmppost);
            }

            function cancelEdit(uid) {
                // removes an "edit post" form and retrieves the original post
                var todelete = document.getElementById(uid);
                todelete.parentNode.removeChild(todelete);
                document.getElementById(uid + '_tmp').style["display"] = "block";
                document.getElementById(uid + '_tmp').setAttribute("id", uid);
            }

            function clearNewPost(confirmed=false) {
                // clears all fields of the "new post" form
                var el = document.getElementById(NEW_POST);
                if (el.getElementsByClassName("star_field")[0].getAttribute("value") === "true") {
                    np_toggleImportant(NEW_POST);
                }
                document.getElementById("np_source").value = "";
                document.getElementById("np_topic").value = "";
                richtext.customCommands['cleanDoc'](el.getElementsByClassName("rte-editbox")[0], confirmed);
                //document.getElementById("np_maintext").value = "";
            }


            function np_toggleImportant(uid) {
                // toggles "important" star in "new post" and "edit post" forms
                var el = document.getElementById(uid);
                el.getElementsByClassName("star")[0].classList.toggle('staron');
                var attr = el.getElementsByClassName("star_field")[0].getAttribute("value");
                if (attr == "false") {
                    el.getElementsByClassName("star_field")[0].setAttribute("value", "true");
                    el.getElementsByClassName("star")[0].setAttribute("title", "Убрать отметку важности");
                } else {
                    el.getElementsByClassName("star_field")[0].setAttribute("value", "false");
                    el.getElementsByClassName("star")[0].setAttribute("title", "Отметить запись как важную");
                }
            }

            function intent_load(all) {
                // AJAX reloading of the intentions tree
                var checkbox = document.getElementById("intent_showall");
                var todoparent = document.getElementsByClassName("todo")[0];
                var oldlist = document.getElementById("todo_content");
                checkbox.disabled = true;

                var intent_cb_ok = function(response) {
                    todoparent.removeChild(oldlist);
                    var wrapper = document.createElement('div');
                    wrapper.id = 'todo_content';
                    wrapper.innerHTML = response;
                    todoparent.appendChild(wrapper);
                    checkbox.disabled = false; // не стал писать finally ради одной общей строчки
                }

                var intent_cb_error = function(status) {
                    checkbox.disabled = false; // не стал писать finally ради одной общей строчки
                    if (status !== null) {
                        alert("Ошибка сервера при обновлении списка намерений: " + status);
                    }
                }

                ajax('GET', '/intent/reload?all=' + all, intent_cb_ok, intent_cb_error);
            }

            function display_topic(topic) {
                // AJAX reloading of the notes block

                var topic_callback_ok = function(response){
                    // callback to execute on successful note loading

                    var postsparent = document.getElementById("maincol");
                    var oldlist = document.getElementById("notes_content");
                    postsparent.removeChild(oldlist);
                    var wrapper = document.createElement('div');
                    wrapper.id = 'notes_content';
                    wrapper.innerHTML = response;
                    postsparent.appendChild(wrapper);
                };

                var topic_callback_error = function(status){
                    // callback to execute on unsuccessful note loading
                    if (status !== null) {
                        alert("Ошибка сервера при обновлении списка записей: " + status);
                    }
                };

                var address = '/notes?topic=' + topic;
                ajax('GET', address, topic_callback_ok, topic_callback_error);
            }

            function display_type(section) {
                // wrapper for switching displayed note types
                var prevtype = document.getElementsByClassName("section_selected")[0];
                var clickedtype = event.target.parentElement;
                if (!(prevtype === undefined && typeof prevtype === "undefined")) {
                    // если было что-то выбрано, мы выключаем ему кружок
                    prevtype.classList.remove('section_selected');
                }
                if (prevtype != clickedtype) {
                    // включаем кружок кликнутому, если только оно уже не было выбрано
                    clickedtype.classList.add('section_suspended');
                }
                // перекрываем иконки "выключающим" стилем
                for (var i = document.getElementsByClassName("section_icon").length - 1; i >= 0; i--) {
                    document.getElementsByClassName("section_icon")[i].classList.add('section_icon_inactive');
                }
                // выключаем функции у всех переключателей
                for (var i = document.getElementsByClassName("section").length - 1; i >= 0; i--) {
                    document.getElementsByClassName("section")[i].removeAttribute("onclick");
                }

                var notetype_callback_ok = function(response){
                    // callback to execute on successful note loading

                    // если ранее был выбран раздел, сносим его иконке "активный" стиль
                    if (!(prevtype === undefined && typeof prevtype === "undefined")) {
                        prevtype.getElementsByClassName("section_icon")[0].classList.remove('section_icon_active');
                    }
                    // если включился новый раздел, активируем ему иконку и кружок
                    if (clickedtype.classList.contains('section_suspended')) {
                        clickedtype.classList.add('section_selected');
                        clickedtype.getElementsByClassName("section_icon")[0].classList.add('section_icon_active');
                    }

                    var postsparent = document.getElementById("maincol");
                    var oldlist = document.getElementById("notes_content");
                    postsparent.removeChild(oldlist);
                    var wrapper = document.createElement('div');
                    wrapper.id = 'notes_content';
                    wrapper.innerHTML = response;
                    postsparent.appendChild(wrapper);
                };

                // по факту эта функция никогда не используется, т.к. сервер всегда обрабатывает исключения корректно
                var notetype_callback_error = function(status){
                    // callback to execute on unsuccessful note loading

                    // если ранее был выбран раздел, включаем ему кружок обратно
                    if (!(prevtype === undefined && typeof prevtype === "undefined")) {
                        prevtype.classList.add('section_selected');
                    }

                    if (status !== null) {
                        alert("Ошибка сервера при обновлении списка записей: " + status);
                    }
                };

                var notetype_callback_finally = function(){
                    // callback to execute in all cases

                    // включаем все иконки обратно
                    for (var i = document.getElementsByClassName("section_icon").length - 1; i >= 0; i--) {
                        document.getElementsByClassName("section_icon")[i].classList.remove('section_icon_inactive');
                    }
                    // включаем обратно функции у всех переключателей
                    for (var i = document.getElementsByClassName("section").length - 1; i >= 0; i--) {
                        document.getElementsByClassName("section")[i].setAttribute("onclick", "display_type(event)");
                    }
                    // если пытались включить новый раздел, выключаем ему заморозку
                    if (clickedtype.classList.contains('section_suspended')) {
                        clickedtype.classList.remove('section_suspended');
                    }
                };

                var typename;
                switch (clickedtype.getAttribute("id")) {
                    case 'switch_type_note':
                        typename = 'note';
                        break;
                    case 'switch_type_diary':
                        typename = 'diary';
                        break;
                    case 'switch_type_draft':
                        typename = 'draft';
                        break;
                }
                var current_typename = document.getElementById("section_selected").getAttribute("value");
                if (typename == current_typename) {
                    typename = 'all';
                }
                document.getElementById("section_selected").setAttribute("value", typename);

                var address = '/notes?type=' + typename;
                ajax('GET', address, notetype_callback_ok, notetype_callback_error, notetype_callback_finally);
            }

            /*************************/
            /* Aux functions */
            /*************************/

            function ajax(type, address, success, error, cleanup=function(){}, post_data=null) {
                httpRequest = new XMLHttpRequest();
                if (!httpRequest) {
                    alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
                    error(null);
                    cleanup();
                    return false;
                }
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            success(httpRequest.responseText);
                            cleanup();
                        } else {
                            error(httpRequest.status);
                            cleanup();
                        }
                    }
                };
                httpRequest.open(type, address);
                if (type == 'GET') {
                    httpRequest.send();
                } else if (type == 'POST') {
                    httpRequest.send(post_data);
                } else {
                    alert('Неизвестный тип запроса');
                    error();
                    cleanup();
                    return false;
                }
            }

            function findAncestor(el, cls) {
                // returns first ancestor with a certain class
                while ((el = el.parentElement) && !el.classList.contains(cls));
                return el;
            }

            function insertAfter(newNode, referenceNode) {
                // inserts new node after a referenceNode
                referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            }

            function getFirstChild(el){
                var firstChild = el.firstChild;
                while (firstChild != null && firstChild.nodeType != 1) { // skip TextNodes, comments etc.
                    firstChild = firstChild.nextSibling;
                }
                return firstChild;
            }

            function elementFromText(text){
                var wrapper= document.createElement('div');
                wrapper.innerHTML = text;
                return getFirstChild(wrapper);
            }

        </script>

        <div id="main">
            <div id="leftcol">
                <div class="todo">
                    <div class="todo_title">Намерения</div>
                    <div class="intent_showall_container">
                        <input type="checkbox" class="intent_showall_checkbox" id="intent_showall" onchange="intent_load(this.checked)">
                        <label class="intent_showall_label" for="intent_showall">Показать всё</label>
                    </div>
                    <div id="todo_content">
                        {% include "todo.html" %}
                    </div>
                </div>
            </div>

            <div id="maincol">

                <div class="sections">
                    <input id="section_selected" type="hidden" value="all">
                    <div class="section" id="switch_type_note" onclick="display_type(event)">
                        <div class="section_icon note" title="Показать только заметки"></div>
                    </div>
                    <div class="section" id="switch_type_diary" onclick="display_type(event)">
                        <div class="section_icon diary" title="Показать только дневник"></div>
                    </div>
                    <div class="section" id="switch_type_draft" onclick="display_type(event)">
                        <div class="section_icon draft" title="Показать только черновики"></div>
                    </div>
                </div>
            <!-- "new post" window -->
                <div class="post" id="00000000-0000-0000-0000-000000000000">
                    <form action="." method="POST" style="margin-bottom: 0px;" id="post_form">
                        <input class="uid_field" type="hidden" name="uid" value="00000000-0000-0000-0000-000000000000">
                        <div class="star np" title="Отметить запись как важную" id="np_star" onclick="np_toggleImportant('00000000-0000-0000-0000-000000000000')"></div>
                        <input class="star_field" type="hidden" name="importance" value="false">
                        <div class="posticon deletepost np" title="Удалить запись" id="np_delete" onclick="clearNewPost()"></div>
                        <div class="posticon savepost np" title="Сохранить запись" id="np_save" onclick="addPost()"></div>
                        <div class="np title" title="{{now.strftime("%d.%m.%Y %H:%M")}}" id="np_title">{{ now.strftime('%d.%m.%Y') }}</div>
                        <div class="smallicon extlink np" title="Основной источник" id="np_source_icon"></div>
                        <input class="inputfield np_input np" name="source" type="text" id="np_source" onfocus="showForm()">
                        <div class="smallicon topic np" title="Темы" id="np_topic_icon"></div>
                        <input class="inputfield np_input np" name="topic" type="text" id="np_topic" onfocus="showForm()">
                        <textarea class="rich-text-editor" id="np_maintext" style="margin-bottom: 0px; margin-top: 0px;" name="maintext" onfocus="showForm()"></textarea>
                    </form>
                </div>

                <!-- template for "edit post" mode -->
                <div class="post" id="00000000-0000-0000-0000-000000000001" style="display: none;">
                    <form action="." method="POST" style="margin-bottom: 0px;">
                        <input class="uid_field" type="hidden" name="uid">
                        <div class="star"></div>
                        <input class="star_field" type="hidden" name="importance">
                        <div class="posticon canceledit" title="Отменить редактирование"></div>
                        <div class="posticon savepost" title="Сохранить запись"></div>
                        <div class="title"></div>
                        <div class="smallicon extlink" title="Основной источник"></div>
                        <input class="inputfield inputsrc" name="source" type="text">
                        <div class="smallicon topic" title="Темы" ></div>
                        <input class="inputfield inputtopic" name="topic" type="text">
                        <textarea name="maintext" placeholder="Место для новой записи"></textarea>
                    </form>
                </div>

                <div id="notes_content">
                <!-- actual posts -->
                    {% include "notes.html" %}
                </div>

            </div>

            <div id="rightcol">
                <div class="searchbar"></div>
                {% include "topics.html" %}
            </div>
        </div>

    </body>
</html>