<script>
function intent_toggle(event) {
    // minimizes/restores intention subgroup
    var children = event.target.parentNode.getElementsByClassName("goal_childgroup")[0];
    event.target.classList.toggle('hiddengoal');
    if (children.style["display"] == "none") {
        children.style["display"] = "block";
    } else {
        children.style["display"] = "none";
    }
}

function intent_settings(event, show) {
    // shows/hides buttons near every intention
    if (event.target.classList.contains('todo_task')) {
        var el = event.target;
    } else {
        var el = findAncestor(event.target, 'todo_task');
    }
    /* hide/show icons that are immediate children of a target div */
    var icgroup = el.getElementsByClassName("goalname")[0].getElementsByClassName("settinggroup")[0].getElementsByClassName("goalsetting");
    for (var i = 0; i < icgroup.length; i++) {
        if (show) {
            icgroup[i].style["display"] = "block";
        } else {
            icgroup[i].style["display"] = "none";
        }
    }
}

function intent_check(uid) {
    // AJAX marking the intention as "done"
    httpRequest = new XMLHttpRequest();
    var el = document.getElementById(uid);
    var status = "true"; // if current intention is active
    if (el.getElementsByClassName("goalname")[0].classList.contains('goalname_done')) {
        status = "false";
    }
    if (!httpRequest) {
        alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
        return false;
    }
    httpRequest.onreadystatechange = function() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                el.getElementsByClassName("goalname")[0].classList.toggle('goalname_done');
                console.log(status);

                if (status == "false") {
                    var checkdiv = el.getElementsByClassName("checkgoal")[0];
                    var editdiv = document.createElement('div');
                    editdiv.className = "todoicon goalsetting editgoal";
                    var adddiv= document.createElement('div');
                    adddiv.className = "todoicon goalsetting addgoal";
                    checkdiv.parentNode.insertBefore(editdiv, checkdiv);
                    checkdiv.parentNode.insertBefore(adddiv, checkdiv);
                } else {
                    var editdiv = el.getElementsByClassName("editgoal")[0];
                    editdiv.parentNode.removeChild(editdiv);
                    var adddiv = el.getElementsByClassName("addgoal")[0];
                    adddiv.parentNode.removeChild(adddiv);
                }
            } else {
                alert("Ошибка сервера при смене статуса намерения: " + httpRequest.status);
            }
        }
    };
    httpRequest.open('GET', '/intent/check?uid=' + uid + '&status=' + status);
    httpRequest.send();
}

function intent_delete(uid) {
    // AJAX deleting the intention
    var result = confirm("Подтвердите удаление намерения. Все дочерние намерения также будут удалены!");
    if (result) {
        httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
            alert('Не удалось создать объект XMLHttpRequest для AJAX-запроса к серверу');
            return false;
        }
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    var el = document.getElementById(uid);
                    el.parentNode.removeChild(el);
                } else {
                    alert("Ошибка сервера при удалении записи: " + httpRequest.status);
                }
            }
        };
        httpRequest.open('GET', '/intent/delete?uid=' + uid);
        httpRequest.send();
    }
}

</script>

<div class="todo">
    <div class="todo_title">Намерения</div>
    {% for record in todo recursive %}
        {% set active = False %}
        {% if record.children and not record.finished %}
            {% set active = True %}
        {% endif %}
        <div class="todo_task {% if loop.depth == 1 %} toptask {% else %} childtask {% endif %}" id="{{ record.uid }}">
            <div 
                class="todoicon goalgroup {% if not active %} graygoal {% endif %} " 
                {% if active %} onclick="intent_toggle(event)" {% endif %}>
            </div>
            <div class="goalname {% if record.finished %} goalname_done {% endif %}" onmouseover="intent_settings(event, true)" onmouseout="intent_settings(event, false)">
                {{record.name -}}
                <div class="settinggroup">
                    {% if not record.finished %}
                        <div class="todoicon goalsetting editgoal"></div>
                        <div class="todoicon goalsetting addgoal"></div>
                    {% endif %}
                    <div class="todoicon goalsetting checkgoal" onclick="intent_check('{{ record.uid }}')"></div>
                </div>
            </div>
            {% if active %}
                <div class="goal_childgroup">
                {{ loop(record.children) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>