#mainblock {
    width: 80%;
    margin: auto;
    margin-top: 36px;
    /*background: #fafaf0;*/
}

.tr_title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    /*background:#ffd0f0;*/
    font-family: sans-serif;
	border-color: rgb(227, 227, 227);
	border-style: inset;
	border-width: 1px;
}

.tr_meta {
	width: 100%;
	margin-top: 5px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	resize: vertical;
}

#translation {
    float: right;
    width: 47%;
    padding-bottom: 36px;
/*    padding-left: 50px;
    padding-right: 50px;*/
    /*background: #fcfce6;*/
}

#original {
    float: left;
    width: 47%;
    padding-bottom: 36px;
    /*background: #fafae0;*/
}

.maintext p {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 22px;
    font-size: 13pt;
    font-family: "Times New Roman", Times, serif;
    padding-left: 5px;
}

.refs :target {
  background: #FFFFAF;
}

.refs li {
	position: relative;
	margin-bottom: 7px;
	left: 30px;
}

 /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 500px; /* Could be more or less, depending on screen size */
	height: 300px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#reftext {
	display: block;
	width: 464px;
	height: 250px;
}

#refsubmit {
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background-color: #E2E2E2;
	padding: 6px;
	display: block;
	float: right;
	margin-right: 33px;
	color: #606080;
}

.deleteref {
	display: block;
	position: absolute;
	left: -50px;
	top: 3px;
	cursor: pointer;
}

.editref {
	display: block;
	position: absolute;
	left: -70px;
	top: 3px;
	cursor: pointer;
}

.savebutton {
	float: left;
	margin-top: 10px;
}

.hiddenaux {
	display: none;
}