#header {
    width: 100%;
    text-align: center;
    font-size: 36px;
    /*background:#f0d0ff;*/
}

#list {
    float: left;
    margin-left: 50px;
    width: 400px;
    height: 100%;
    /*background:#fff0d0;*/
}

#mainblock {
    margin-left: 450px;
    padding-left: 50px;
    padding-right: 50px;
    /*background: #fafaf0;*/
}

#title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    /*background:#ffd0f0;*/
    font-family: sans-serif;
    margin-bottom: 20px;
}

.meta {
    font-size: 10pt;
    margin-top: -10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.meta > * {
    display: inline;
}

.meta a {
    color: #5050a0;
    text-decoration: none;
}

.meta a:hover {
    color: #303080;
}

#translation {
    float: right;
    width: 50%;
    /*background: #fcfce6;*/
}

#original {
    float: left;
    width: 50%;
    /*background: #fafae0;*/
}

.maincontainer {
    overflow: auto;
}

.navlink-li {
    font-family: sans-serif;
    /*background: #f0f0f0;*/
    width: 300px;
    list-style: none;
    margin: 5 5 5 5;
    /*padding: 5 5 5 5;*/
    display: flex;
}

.navlink-add {
    font-family: sans-serif;
    background: #e0ffe0;
    width: 300px;
    list-style: none;
    margin: 5 5 15 5;
    text-align: center;
    /*padding: 5 5 5 5;*/
}

a.addlink {
    text-decoration: none;
    display: block;
    width: 295px;
    padding: 5 0 5 5;
    color: #007700;
}

a.addlink:hover {
    color: #005500;
}

a.addlink:active {
    color: #009900;
}

.navlink {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration: none;
    flex-grow: 1;
    padding: 5 0 5 5;
    color: #505050;
    background: #f0f0f0;
}

.navlink:hover {
    color: black;
}

.navlink:active {
    color: red;
}

.chosen {
    background: #e0e0e0;
    color: black;
}

.maintext p {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 22px;
    font-size: 13pt;
    font-family: "Times New Roman", Times, serif;
    padding-left: 5px;
}

.comment {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 25px;
}

/* copy of styles from create_tr.css below */
/* some of them should be moved into a separate shared file... maybe */

.footnote {
    vertical-align: super;
    font-size: 0.5em;
    margin-left: 2px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.refs {
    clear: right;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 20px;
}

.refs :target {
  background: #FFFFAF;
}

.refs li {
    position: relative;
    margin-bottom: 7px;
}

.tooltip {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    max-width: 300px;
    min-width: 60px;
    background-color: #FFFFAF;
    border-radius: 6px;
    padding: 7px;
    border-color: rgb(227, 227, 227);
    border-width: 1px;
    border-style: outset;
    transform-style: preserve-3d;
    opacity: 0;
    transition: opacity 0.3s;
}

/* a little "tail" below the body of a tooltip */
.tooltip::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    bottom: 0;
    left: 30px;
    background-color: #FFFFAF;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    border-width: 0px 0px 1px 1px;
    border-style: outset;
}

.backarrow {
    margin-left: 5px;
}

.editbutton {
    background-image: url('../img/edit.png');
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.deletebutton {
    background-image: url('../img/delete.png');
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.grayed { 
    background-position: 0px -15px;
    cursor: default;
} 