#list {
    float: left;
    margin-left: 50px;
    width: 400px;
    margin-top: 36px;
    padding-bottom: 36px;
    /*background:#fff0d0;*/
}

#list ul {
    margin-top: 0px;
    padding-left: 0px;
    display: none;
}

#list ul.ul-active {
    display: block;
}

#mainblock {
    margin-left: 450px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 36px;
    padding-bottom: 36px;
    /*background: #fafaf0;*/
}

#title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    /*background:#ffd0f0;*/
    font-family: sans-serif;
    margin-bottom: 20px;
}

.meta {
    font-size: 10pt;
    margin-top: -10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.meta > * {
    display: inline;
}

.meta a {
    color: #5050a0;
    text-decoration: none;
}

.meta a:hover {
    color: #303080;
}

#translation {
    float: right;
    width: 50%;
    /*background: #fcfce6;*/
}

#original {
    float: left;
    width: 50%;
    /*background: #fafae0;*/
}

.maincontainer {
    overflow: auto;
}

.navlink-li {
    font-family: sans-serif;
    /*background: #f0f0f0;*/
    width: 300px;
    list-style: none;
    margin-bottom: 5px;
    display: flex;
}

a.addlink {
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #007700;
    font-family: sans-serif;
    background: #e0ffe0;
    width: 300px;
    margin-bottom: 15px;
    text-align: center;
}

a.addlink:hover {
    color: #005500;
}

a.addlink:active {
    color: #009900;
}

.navlink {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration: none;
    flex-grow: 1;
    padding: 5 0 5 5;
    color: #505050;
    background: #f0f0f0;
}

.navlink:hover {
    color: black;
}

.navlink:active {
    color: red;
}

.chosen, .chosen-meta {
    background: #e0e0e0;
    color: black;
}

.maintext p {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 22px;
    font-size: 13pt;
    font-family: "Times New Roman", Times, serif;
    padding-left: 5px;
}

.comment {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 25px;
}

.refs {
    clear: right;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 20px;
}

.refs :target {
  background: #FFFFAF;
}

.refs li {
    margin-bottom: 7px;
}

.editbutton {
    background-image: url('../img/edit.png');
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.deletebutton {
    background-image: url('../img/delete.png');
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0px 0px;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.grayed { 
    background-position: 0px -15px;
    cursor: default;
} 

.tab {
    position:relative;
    border-color: rgb(166, 202, 240);
    border-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    margin-top: 10px;
    margin-right: -10px;
    padding: 5px;
    width: 80px;
    height: 15px;
    background-color: #f7fbff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #505050;
    clip-path: polygon(0% 0%, 80% 0%, 102% 100%, 0% 100%);
    display: inline-block;
    font-size: 10pt;
    cursor: pointer;
}

.tab:after {
    content: "";
    position:absolute;
    margin:-20px;
    width: 45px;
    height: 45px;
    transform:rotate(55deg);
    left: 96px;
    top: -5px;
    border-color: rgb(166, 202, 240);
    border-width: 3px;
    border-style: solid;
}

.tab.tab-active {
    border-bottom-color: #fff;
    background-color: #fff;
    color: #000;
    z-index: 1;
}

.tabline {
    border-width: 0px;
    background-color: rgb(166, 202, 240);
    height: 2px;
    margin-top: -2px;
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
}

.filter {
    height: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12pt;
    display: flex;
    width: 300px;
    align-items: center;
}

.filtertext {
    margin-top: 20px;
}

#video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    position: sticky;
}

.sticky {
    /* -508: 450px sidebar + 50px left mainblock padding + 8px left browser margin; */
    /* 566 px: sidebar + both mainblock paddings + both browser margins; */
    /* 560px: video width; 17px: scrollbar width; 20px: margin for the sake of it; */
    /* 315px: video height; */
    transform: translate(calc(-508px - (100vw - 566px - 560px - 17px)/2 + 20px), calc((100vh - 315px - 20px)));
    top: 0px;
}

#videobutton {
    height: 32px;
    width: 32px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 560px;
    margin-top: -16px;
    border: #ccc solid 2px;
    display: none;
    cursor: pointer;
    z-index: 1;
    background-image: url('../img/video_disable.png');
    background-repeat: no-repeat;
    background-position: 9px 9px;
    background-size: 15px;
    position: absolute;
}

#videobutton.enable {
    background-image: url('../img/video_enable.png');
    display: block;
}

/* showing "close" button only when the video is in sticky mode */
.sticky > #videobutton {
    display: block;
}
