{% extends "wrapper.html" %}

{% block title %}
    Almost the word
{% endblock %}

{% block meta %}
    <link rel='stylesheet' type='text/css' href= "{{url_for('atw.static', filename='css/translations.css')}}">
    <link rel='stylesheet' type='text/css' href= "{{url_for('atw.static', filename='css/common.css')}}">
    <script type="text/javascript" src={{url_for('atw.static', filename='js/translations.js')}}></script>
{% endblock %}

{% block appname %}
    <a id="appname" href="/">almost the words</a>
{% endblock %}

{% block script %}
    <script>

        window.onload = function() {showTranslation(undefined, '{{linkname}}')};
        window.onscroll = function() {toggleSticky()};

        // if sticky behaviour for video is enabled
        var sticky = true;

        function disableSticky() {
            sticky = false;
            document.getElementById("video").classList.remove("sticky");
            document.getElementById("videobutton").classList.add("enable");
            document.getElementById("videobutton").setAttribute("onclick", "enableSticky()");
        }

        function enableSticky() {
            sticky = true;
            document.getElementById("videobutton").classList.remove("enable");
            document.getElementById("videobutton").setAttribute("onclick", "disableSticky()");
        }

        function showCategory(target, type) {

            var prevtab = document.getElementsByClassName("tab-active")[0];
            var prevlist = document.getElementsByClassName("ul-active")[0];

            if (!(prevtab === undefined && typeof prevtab === "undefined")) {
                // если было что-то выбрано, мы выключаем ему выделение
                prevtab.classList.remove('tab-active');
            }

            if (!(prevlist === undefined && typeof prevlist === "undefined")) {
                // если было что-то выбрано, мы выключаем ему выделение
                prevlist.classList.remove('ul-active');
            }
            // включаем подсветку кликнутому
            target.classList.add('tab-active');
            document.getElementById(type).classList.add('ul-active');
        }

        function addFilter(event) {
            event.preventDefault();
            var target = event.target;

            // if we click on link in song meta
            if (!(target.classList.contains("navlink"))) { 
                for (let i of document.getElementsByClassName("navlink")) {
                    if (i.getAttribute("href") == event.target.getAttribute("href")) {
                        target = i;
                    }
                }
            }

            var prevtr = document.getElementsByClassName("chosen-meta")[0];
            if (!(prevtr === undefined && typeof prevtr === "undefined")) {
                // если было что-то выбрано, мы выключаем ему выделение
                prevtr.classList.remove('chosen-meta');
            }
            // включаем подсветку кликнутому
            target.classList.add('chosen-meta');

            fetch('/get' + target.getAttribute("href")).then(response => response.text()).then(data => rebuildList(data))

            showCategory(document.getElementById("maintab"), 'translations')
            var postsparent = document.getElementById("mainblock");
            postsparent.innerHTML = "";
            window.history.pushState("", "", event.target.getAttribute("href"));

        }

        function resetFilter() {
            var prevtr = document.getElementsByClassName("chosen-meta")[0];
            if (!(prevtr === undefined && typeof prevtr === "undefined")) {
                // если было что-то выбрано, мы выключаем ему выделение
                prevtr.classList.remove('chosen-meta');
            }

            fetch('/get/all').then(response => response.text()).then(data => rebuildList(data))

            showCategory(document.getElementById("maintab"), 'translations')
            var postsparent = document.getElementById("mainblock");
            postsparent.innerHTML = "";
            window.history.pushState("", "", "/");
        }

        function rebuildList(data){
            // executes on fetch
            // builds new song list from the fetched json
            data = JSON.parse(data);

            // filter setup
            if (data.filter != null) {
                var type = (data.filter == 'author' ? 'автор' : 'тэг');
                var inner = "<p class=\"filtertext\">Выбран " + type + ": <b>" + data.filtername + "</b></p><span class=\"deletebutton\" onclick=\"resetFilter()\"></span>";
            } else {
                var inner = "";
            }
            document.getElementsByClassName("filter")[0].innerHTML = inner;

            // list setup
            var postsparent = document.getElementById("translations");
            postsparent.innerHTML = '';
            for (let record of data.response) {
                if (record.hasOwnProperty('error')) {
                    postsparent.appendChild(elementFromText("<li class=\"navlink-li\">" + record.error + " " + record.details + "</li>"))
                } else {
                    var child = "<li class=\"navlink-li\" id=\"" + record.link + "\">" +
                        "<a class=\"navlink\" href=\"/" + record.link + "\" onclick=\"gotoTranslation(event)\">" + record.engname + "</a>" +
                        {% if current_user.permissions and "translator" in current_user.permissions %}
                            "<a href=\"/edit/" + record.link + "\" class=\"editbutton\"></a>" +
                            "<span class=\"deletebutton\" onclick=\"deleteTranslation('" + record.link + "')\"></span>" +
                        {% endif %}
                    "</li>";
                    postsparent.appendChild(elementFromText(child))
                }
            }
        };

        function gotoTranslation(event) {

            event.preventDefault();
            showTranslation(event.target);
            window.history.pushState("", "", event.target.getAttribute("href"));
            sticky = true;
        }

        function showTranslation(target, linkname) {

            if (target === undefined) { // if we enter the link manually
                if (linkname == '') { 
                    return;
                } else {
                    for (let i of document.getElementsByClassName("navlink")) {
                        if (i.getAttribute("href") == "/" + linkname) {
                            target = i;
                        }
                    }
                }
            }

            var prevtr = document.getElementsByClassName("chosen")[0];

            var insertData = function(data){
                var postsparent = document.getElementById("mainblock");
                postsparent.innerHTML = data;
            };

            if (!(prevtr === undefined && typeof prevtr === "undefined")) {
                // если было что-то выбрано, мы выключаем ему выделение
                prevtr.classList.remove('chosen');
            }
            // включаем подсветку кликнутому
            target.classList.add('chosen');

            fetch('/get/song' + target.getAttribute("href")).then(response => response.text()).then(data => insertData(data))

        }

        function deleteTranslation(link) {
            // deleting an existing translation
            var result = confirm("Подтвердите удаление перевода!");
            if (result) {
                var el = document.getElementById(link);
                // temporarily deactivate edit/del buttons
                el.getElementsByClassName("deletebutton")[0].removeAttribute("onclick");
                el.getElementsByClassName("editbutton")[0].removeAttribute("href");
                el.getElementsByClassName("deletebutton")[0].classList.toggle('grayed');
                el.getElementsByClassName("editbutton")[0].classList.toggle('grayed');

                fetch('/delete/' + link).then(response => {
                    if (!response.ok) {
                        // if something went wronf then we display an error and reactivate buttons
                        response.json().then(data => alert(data.error + '\n' + data.details));
                        el.getElementsByClassName("deletebutton")[0].setAttribute("onclick", "deleteTranslation('" + link + "')");
                        el.getElementsByClassName("editbutton")[0].setAttribute("href", "/edit/" + link);
                        el.getElementsByClassName("deletebutton")[0].classList.toggle('grayed');
                        el.getElementsByClassName("editbutton")[0].classList.toggle('grayed');
                    } else {
                        el.parentNode.removeChild(el);
                        // if we are on the page that was deleted then we go to the mainpage
                        if (window.location.pathname == "/" + link) {
                            window.location.href = "/";
                        }
                    }
                });

            }
        }

        function toggleSticky() {
            if (sticky) {
                var video = document.getElementById("video");
                // initial position of video
                // we need to know it even after the video has been moved
                if (document.getElementById("videoanchor").getBoundingClientRect().top < 0) {
                    video.classList.add("sticky");
                } else {
                    video.classList.remove("sticky");
                }
            }
        } 

    </script>
{% endblock %}

{% block content %}
    <div id="list">

        {% if current_user.permissions and "translator" in current_user.permissions %}
            <a class="addlink" href="/add">Добавить перевод</a>
        {% endif %}

        {% if list.filter %}
            <div class="filter"><p class="filtertext">Выбран {% if list.filter == 'author' %}автор{% else %}тэг{% endif %}: <b>{{list.filtername}}</b></p><span class="deletebutton" onclick="resetFilter()"></span></div>
        {% else %}
            <div class="filter"></div>
        {% endif %}

        <div class="tab tab-active" id="maintab" onclick="showCategory(event.target, 'translations')">Переводы</div>
        <div class="tab" onclick="showCategory(event.target, 'authors')">Авторы</div>
        <div class="tab" onclick="showCategory(event.target, 'tags')">Тэги</div>
        <hr class="tabline">

        <ul class="ul-active" id="translations">
            <!-- list['response'] is used because get_translations_list() method has double purpose -->
            <!-- it returns both json and python data array so I had to wrap data in a dict to enable jsonification -->
            <!-- see atw.py for details -->
            {% for record in list.response %}
                {% if record.error %} 
                    <li class="navlink-li">{{record.error}} {{record.details}}</li>
                {% else %}
                    <li class="navlink-li" id="{{record.link}}">
                        <a class="navlink" href="/{{record.link}}" onclick="gotoTranslation(event)">{{record.engname}}</a>
                        {% if current_user.permissions and "translator" in current_user.permissions %}
                            <a href="/edit/{{record.link}}" class="editbutton"></a>
                            <span class="deletebutton" onclick="deleteTranslation('{{record.link}}')"></span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <ul id="authors">
            {% for record in authors %}
                {% if record.error %} 
                    <li class="navlink-li">{{record.error}} {{record.details}}</li>
                {% else %}
                    <li class="navlink-li" id="{{record.link}}">
                        <a class="navlink {% if list.filter and list.filter == 'author' and record.author == list.filtername %}chosen-meta{% endif %}" href="/author/{{record.link}}" onclick="addFilter(event)">{{record.author}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <ul id="tags">
            {% for record in tags %}
                {% if record.error %} 
                    <li class="navlink-li">{{record.error}} {{record.details}}</li>
                {% else %}
                    <li class="navlink-li" id="{{record.link}}">
                        <a class="navlink {% if list.filter and list.filter == 'tag' and record.tag == list.filtername %}chosen-meta{% endif %}" href="/tag/{{record.link}}" onclick="addFilter(event)">{{record.tag}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="mainblock">
    </div>
{% endblock %}
