<script>
function intentToggle(event) {
    // minimizes/restores intention subgroup
    var children = event.target.parentNode.getElementsByClassName("goal_childgroup")[0];
    event.target.classList.toggle('hiddengoal');
    if (children.style["display"] == "none") {
        children.style["display"] = "block";
    } else {
        children.style["display"] = "none";
    }
}

function intentSettings(event, show) {
    // shows/hides buttons near every intention
    if (event.target.classList.contains('todo_task')) {
        var el = event.target;
    } else {
        var el = findAncestor(event.target, 'todo_task');
    }
    /* hide/show icons that are immediate children of a target div */
    var icgroup = el.getElementsByClassName("goalname")[0].getElementsByClassName("settinggroup")[0].getElementsByClassName("goalsetting");
    for (let i of icgroup) {
        if (show) {
            i.style["display"] = "block";
        } else {
            i.style["display"] = "none";
        }
    }
}

async function intentCheck(uid) {
    // async/await marking the intention as "done"
    var el = document.getElementById(uid);
    var istatus = "true"; // if current intention is active
    if (el.getElementsByClassName("goalname")[0].classList.contains('goalname_done')) {
        istatus = "false";
    }

    let response = await fetch('/intent/check?uid=' + uid + '&status=' + istatus);
    if (!response.ok) {
        alert("Ошибка сервера при смене статуса намерения: " + response.status);
    } else {
        el.getElementsByClassName("goalname")[0].classList.toggle('goalname_done');

        if (istatus == "false") {
            var checkdiv = el.getElementsByClassName("checkgoal")[0];
            var editdiv = document.createElement('div');
            editdiv.className = "todoicon goalsetting editgoal";
            var adddiv= document.createElement('div');
            adddiv.className = "todoicon goalsetting addgoal";
            checkdiv.parentNode.insertBefore(editdiv, checkdiv);
            checkdiv.parentNode.insertBefore(adddiv, checkdiv);
        } else {
            var editdiv = el.getElementsByClassName("editgoal")[0];
            editdiv.parentNode.removeChild(editdiv);
            var adddiv = el.getElementsByClassName("addgoal")[0];
            adddiv.parentNode.removeChild(adddiv);
        }
    }
}

async function intentDelete(uid) {
    // async/await deleting the intention
    // TODO: not used currently, test/rewrite later
    var result = confirm("Подтвердите удаление намерения. Все дочерние намерения также будут удалены!");
    if (result) {
        let response = await fetch('/intent/delete?uid=' + uid);
        if (!response.ok) {
            alert("Ошибка сервера при удалении намерения: " + response.status);
        } else {
            var el = document.getElementById(uid);
            el.parentNode.removeChild(el);
        }
    }
}

</script>

{% for record in todo recursive %}
    {% if record.error %} 
        <div class="todo_error todo_errortitle">Ошибка!</div>
        <div class="todo_error">{{record.error}}</div>
    {% else %}
        {% set active = False %}
        {% if record.children %}
            {% set active = True %}
        {% endif %}
        <div class="todo_task {% if loop.depth == 1 %} toptask {% else %} childtask {% endif %}" id="{{ record.uid }}">
            <div 
                class="todoicon goalgroup {% if not active %} graygoal {% endif %} " 
                {% if active %} onclick="intentToggle(event)" {% endif %}>
            </div>
            <div class="goalname {% if record.finished %} goalname_done {% endif %}" onmouseover="intentSettings(event, true)" onmouseout="intentSettings(event, false)">
                {{record.name -}}
                <div class="settinggroup">
                    <div class="todoicon goalsetting checkgoal" onclick="intentCheck('{{ record.uid }}')"></div>
                    {% if not record.finished %}
                        <div class="todoicon goalsetting addgoal"></div>
                        <div class="todoicon goalsetting editgoal"></div>
                    {% endif %}
                </div>
            </div>
            {% if active %}
                <div class="goal_childgroup">
                {{ loop(record.children) }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
