<script>
function topicSettings(event, show) {
    // shows/hides buttons near every intention
    if (event.target.classList.contains('rc_empty')) {
        el = event.target;
    } else {
        el = event.target.parentNode;
    }
    /* hide/show icons that are immediate children of a target div */
    icon = el.getElementsByClassName("topicicon_delete")[0];
    if (show) {
        icon.classList.remove("hidden");
    } else {
        icon.classList.add("hidden");
    }
}

async function deleteTopic(uid) {
    // async/await deleting the intention
    var result = confirm("Подтвердите удаление темы");
    if (result) {
        let response = await fetch('/topics/delete?uid=' + uid);
        if (!response.ok) {
            alert("Ошибка сервера при удалении записи: " + response.status);
        } else {
            var el = document.getElementById(uid);
            el.parentNode.removeChild(el);
        }
    }
}

</script>

{% for record in topics %}
    {% if record.error %} 
        <div class="rc_error rc_errorheader">Ошибка при загрузке списка тем!</div>
        <div class="rc_error">{{record.error}}</div>
    {% else %}
        <div id="{{record.uid}}" class="rc_topic {% if record.count == 0 %} rc_empty {% endif %}" 
        {% if record.count != 0 %} onclick="displayTopic(event)"{% endif %}
        {% if record.count == 0 %} onmouseover="topicSettings(event, true)" onmouseout="topicSettings(event, false)" {% endif %}
        >{{record.name}}
        {% if record.count == 0 %} <div class="topicicon_delete hidden" onclick="deleteTopic('{{record.uid}}')"></div>{% endif %}
        </div>

    {% endif %}
{% endfor %}
